body {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
}

.img {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.img img {
    width: 100%;
    height: 100vh;
    opacity: 0.9;
}

.full {
    float: left;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.top {
    width: 100%;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgb(19, 18, 18, 0.5);
}

.boxcenter {
    width: 80%;
    margin: 0 auto;
}


/*menu */

.logo {
    color: white;
    font-size: 2em;
    letter-spacing: 5px;
    border: 2px white solid;
    padding: 20px;
    float: left;
    font-family: 'Alfa Slab One', cursive;
}

.menu {
    float: right;
}

nav {
    padding: 25px 0px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    height: 40px;
    padding-top: 40px;
    position: relative;
}

ul li i {
    position: absolute;
    top: 0px;
    left: 65px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 10px;
    position: relative;
    letter-spacing: 5px;
    text-align: center;
    display: inline;
}

.tv i {
    left: 20px;
}

.lh i {
    left: 40px;
}

ul li::before {
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    width: 0%;
    border-bottom: 1px white solid;
    z-index: 9999;
    text-align: center;
    transition: 0.5s;
    transition: 1s;
}

ul li::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0%;
    border-bottom: 1px white solid;
    z-index: 9999;
    text-align: center;
    z-index: 99999;
    transition: 1s;
}

ul li:hover::before,
ul li:hover::after {
    width: 80%;
    right: 0%;
    left: 10%;
}


/*ket thuc menu*/


/*2 apdiv backgroud*/

.apdivcong {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    z-index: 900;
}

.apdivcong img {
    width: 100%;
    height: 100%;
}


/*keets thuc 2 apdiv backgroud*/


/*icon*/

.icon {
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 99999;
}

.boxicon {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(62, 62, 252, 0.5);
    text-align: center;
    text-decoration: none;
    color: #fff;
}


/*ket thuc  icon*/


/*chuyen dong cua chuot va chu tai ngay*/

.boxcenter2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 500px;
    letter-spacing: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 150px;
    float: left;
}

.boxcenter2 a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    border: white 2px solid;
    padding: 20px;
    transition: 1s;
    background-color: #9adb0c;
}

.boxcenter2 a:hover {
    background-color: rgb(248, 248, 248);
    color: black;
}

.mouse {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    text-align: center;
    bottom: 2rem;
    -webkit-animation: mouse 1s infinite;
    animation: mouse 1s infinite;
    z-index: 3;
    transition: 1s;
}

@-webkit-keyframes mouse {
    from {
        bottom: 0px;
    }
    to {
        bottom: 10px;
    }
}

@keyframes mouse {
    from {
        bottom: 0px;
    }
    to {
        bottom: 10px;
    }
}

.mouse1 {
    display: inline-block;
    width: 13.2rem;
    cursor: pointer;
}

.mouse span {
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    color: white;
}


/*ket thuc chuyen dong cua chuot va chu tai ngay*/


/* section*/

.boxcenterhd {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
    min-height: 700px;
}

.tieude {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 30px 0px;
    font-size: 4em;
    font-family: 'UTM Bebas'
}

.box1 {
    width: 32%;
    float: left;
}

.box1 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.mrr {
    margin-right: 2%;
}

.anh {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.anh img {
    width: 100%;
    height: 600px;
    padding: 20px 0px;
    transition: 0.5s;
}

.box1 a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.box1 a:hover {
    color: blue;
}

.anh img:hover {
    transform: rotate(10deg) scale(1.3);
}

.box1 {
    position: relative;
}

.apdiv1 {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 30px;
    right: 5px;
    opacity: 0;
    padding: 8px;
}

.apdiv {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 90px;
    right: 5px;
    opacity: 0;
    padding: 8px;
}

.anh:hover .apdiv1,
.anh:hover .apdiv {
    opacity: 1;
    z-index: 1111;
}


/*section 2 nè*/

.trai {
    width: 49%;
    float: left;
}

.trai img {
    width: 100%;
    float: left;
    height: 610px;
    object-fit: cover;
    transition: 1s;
}

.traiimg {
    padding: 20px 0px;
    position: relative;
    width: 100%;
    height: 600px;
}

.man {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    height: 80px;
    transition-duration: 1s
}

.man a {
    padding: 10px 10px;
    height: 50px;
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Open Sans";
    background-color: rgb(8, 8, 8, 0.5);
}

.trai:hover .man {
    background-color: black;
}

.traiimg:hover img {
    opacity: 0.7;
}


/*OHYEAH CÁI 3 RỒI NÈ*/

.gamenew,
.love,
.tieude {
    width: 100%;
    float: left;
    background-color: white;
    padding: 30px 0px;
    font-size: 4em;
    font-family: 'UTM Bebas';
    position: relative;
    height: 100px;
    border: 1px solid #eaeaea;
}

.gamenew::before,
.love::before {
    content: '';
    border-bottom: 10px solid black;
    width: 100%;
    position: absolute;
    top: 70px;
}

.gamenew span,
.love span {
    display: block;
    background-color: white;
    position: absolute;
    text-align: center;
    padding: 0px 5px;
}

.boxnewtrai {
    width: 68%;
    float: left;
}

.boxnewphai {
    width: 30%;
    float: left;
}

.bg2 {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #f1e6e6;
    height: 600px;
}

.gametrai,
.gamephai {
    width: 49%;
    float: left;
    height: 600px;
}

.imgboxnewtrai img {
    width: 100%;
    float: left;
    padding: 20px 5px;
    height: 300px;
}

.imgboxnewtrai a {
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-size: 27px;
    padding: 0px 5px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 5px 10px;
    margin: 0px;
}

.imgboxnewphai {
    width: 100%;
    float: left;
    height: 120px;
    padding-top: 20px;
}

.imgboxnewphai img {
    width: 110px;
    float: left;
    height: 120px;
    margin-right: 5px;
}

.imgboxnewphai a {
    text-decoration: none;
    width: 275px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 22px;
    text-align: justify;
    font-family: 'Francois One', sans-serif;
}

.imgboxnewphai span {
    margin-bottom: 20px;
    font-size: 10px;
    padding: 5px 5px;
}

.imgboxnewphai a:hover,
.imgboxnewtrai a:hover {
    color: teal;
}

.gif {
    float: left;
    width: 100%;
    height: 300px;
}

.gif img {
    width: 100%;
    height: 200px;
    margin: 50px 0px;
}


/*bên phải ở chỗ game phát hành*/

.boxnewphai {
    width: 30%;
    float: left;
}

.boxmenuicon {
    width: 100%;
    float: left;
    background-color: white;
    margin-top: 10px;
}

.e:hover i {
    font-size: 50px;
    background-color: #9adb0c;
    color: darkslategray;
    text-align: center;
}

.e {
    width: 80px;
    height: 85px;
    margin: 5px 5px;
    float: left;
    border-radius: 50px;
}

.e i {
    padding: 20px;
    color: rgb(3, 3, 3);
    text-align: center;
    font-size: 35px;
    float: left;
}

.mrt {
    margin-top: 10px;
}

.loveimg {
    width: 100%;
    float: left;
    background-color: white;
    position: relative;
}

.loveimg img {
    width: 350px;
    height: 220px;
    padding: 7px;
    filter: opacity(0.8);
}

.like {
    position: absolute;
    top: 120px;
    text-align: center;
    opacity: 0;
    width: 100%;
    background-color: rgb(11, 14, 14, 0.5);
    transition: 1s;
}

.loveimg:hover .like {
    opacity: 1;
}

.mrbt {
    margin-bottom: 50px;
}


/*sự kiện nè */

.sukien {
    width: 100%;
    float: left;
    height: 150px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

.sukien span {
    text-align: center;
    display: block;
    background: white;
    margin: 30px 0px;
    z-index: 999;
    font-size: 4rem;
    font-family: 'UTM Bebas'
}


/*video của fifa ol 4*/

.fifa4video {
    width: 100%;
    height: 300px;
    float: left;
}

.fifa4videoa {
    width: 100%;
    height: 300px;
    float: right;
}

#video {
    width: 60%;
    height: 300px;
    object-fit: cover;
    opacity: 1;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
}

#video1 {
    float: right;
    width: 60%;
    height: 300px;
    object-fit: cover;
    opacity: 0.5;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
}


/*footer*/

.bgblack {
    width: 100%;
    min-height: 400px;
    float: left;
    background-color: white;
}

.spanhinhanh {
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.spanhinhanh span {
    display: block;
    text-align: center;
    color: rgb(15, 15, 15);
    background-color: white;
    font-family: 'UTM Bebas';
    font-size: 4em;
    padding: 10px;
    width: 40%;
    margin: 0px auto;
}

.ft {
    width: 100%;
    min-height: 180px;
    background-color: black;
}

.fullhinhanh {
    margin-bottom: 10px;
    width: 1200px;
    overflow: hidden;
    height: 360px;
    background-color: rgb(189, 25, 25);
}

.hinhanh {
    width: 190px;
    margin: 5px;
    float: left;
    height: 170px;
}

#myImg {
    width: 100%;
    margin: 0 auto;
    float: left;
    transition: .5s ease;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    opacity: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

#myImg:hover .nhapchuot {
    opacity: 1;
}

.nhapchuot {
    position: absolute;
    bottom: 30px;
    text-align: center;
    opacity: 0;
    width: 100%;
    background-color: rgb(11, 14, 14, 0.5);
    transition: 1s;
}

.imgSlide {
    width: 100%;
    height: 100%;
    transition: 2s ease;
    background-size: cover;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

.hinhanh img {
    width: 100%;
    height: 100%;
}

.chu {
    width: 80%;
    padding: 10px 0px;
    margin: 0 auto;
    position: relative;
}

.lienhe {
    width: 50%;
    float: left;
}

.chuicon {
    width: 50%;
    float: right;
    margin-top: 10px;
}

.lienhe span {
    color: white;
    font-size: 3em;
}

.lienhe a {
    text-decoration: none;
    color: rgb(236, 187, 187);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
}

#search {
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    border-radius: 20px;
}

.chui {
    position: absolute;
    top: 83px;
    left: 220px;
}

.chui i {
    padding: 5px 20px;
    background-color: #999;
    border-radius: 20px;
}

.bgtrang {
    width: 100%;
    float: left;
    background-color: white;
}


/*bổ sung thầy chỉ*/

.hinhanh img:hover {
    border-radius: 30px;
}

.ea {
    width: 100%;
    float: right;
}

.ea i {
    float: right;
    padding: 20px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 20px;
}

.mrri {
    margin-right: 20px;
}

.ea i:hover {
    font-size: 35px;
}
 
/*google map*/
#map-canvas{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}


