body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(117, 109, 114);
}

h1 {
    text-align: center;
    color: floralwhite;
    font-style: unset;
    margin: 0 auto;
}

.full {
    width: 100%;
    float: left;
}

.fullform {
    width: 100%;
    float: left;
}

.boxcenter {
    top: 10%;
    left: 25%;
    position: absolute;
    width: 50%;
    margin: 0 auto;
    z-index: 9999;
    height: 60%;
}

.page {
    width: 100%;
    float: left;
    position: absolute;
    left: 5%;
    top: 10%;
}

.page a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Anton', sans-serif;
}

.bwwhite {
    background-color: white;
    height: 100%;
    margin-top: 10%;
    padding: 10%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.top {
    width: 29%;
    margin: 0 auto;
}

.i {
    float: left;
    width: 48%;
    background-color: red;
    color: white;
    border-radius: 7px;
    text-align: center;
}

.i1 {
    background-color: rgb(65, 65, 238);
    float: left;
    color: rgb(255, 255, 255);
    width: 48%;
    border-radius: 4%;
    text-align: center;
    margin-right: 4%;
}

.i1 i,
.i i {
    padding: 5%;
    font-size: 2em;
    text-align: center;
}

hr {
    width: 80%;
    margin-top: 10%;
    text-align: center;
}

.gach {
    position: relative;
}

.or {
    padding: 3%;
    width: 10%;
    margin-left: 40%;
    text-align: center;
    position: absolute;
    background-color: white;
}

table {
    width: 100%;
    border-spacing: 20px;
}

.td {
    padding: 10%;
}

input {
    width: 90%;
    padding: 4%;
    font-size: 14pt;
    color: #666;
}

#btn {
    width: 50%;
    text-align: center;
    margin-left: 20%;
}

#mk {
    width: 10%;
    margin-left: 20%;
    float: left;
}

@media screen and (min-width:300px) {
    .boxcenter {
        max-width: 700px;
        margin: 0 auto;
        max-height: 500px;
    }
}

@media screen and (min-height:200px) {
    .bwwhite {
        max-height: 500px;
        margin: 0 auto;
    }
    .fullform {
        min-height: 100px;
        margin: 0 auto;
    }

}